[submodule "build/UglifyJS"]
	path = build/UglifyJS
	url = https://github.com/mishoo/UglifyJS.git
[submodule "build/jshint"]
	path = build/jshint
	url = https://github.com/jshint/jshint
[submodule "build/gzip"]
	path = build/gzip
	url = https://github.com/donnerjack13589/node.gzip.git


[submodule "build/sink"]
	path = build/sink
	url = git://github.com/ded/sink-test.git
[submodule "build/smoosh"]
	path = build/smoosh
	url = git://github.com/fat/smoosh.git
[submodule "build/domready"]
	path = build/domready
	url = git://github.com/ded/domready
